{% extends 'base.html' %}

{% load static %}

{% block body %}




<div class="container text-center mt-4">
    <div class="shadow bg-info rounded p-4">
        <h2 class="text-light mb-4">Add Song Form</h2>
        <div class="w-50 mx-auto">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{forms.as_p}}
             
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>









{% endblock body %}